<section *ngIf="album">
  <mat-card>
    <mat-card-title>{{ album.title }}</mat-card-title>
    <p><span>Id de usuario: </span>{{ album.userId }}</p>
    <p><span>Id del album: </span>{{ album.id }}</p>
    <div class="buttons-container">
      <a
        mat-stroked-button
        color="primary"
        routerLink="/albums/{{ album.id }}/photos"
        >Galería</a
      >
      <a
        mat-stroked-button
        color="primary"
        routerLink="/users/{{ album.userId }}"
        >Usuario</a
      >
    </div>
  </mat-card>
</section>
