mat-card {
  max-width: 40ch;
  margin-inline: auto;
  margin-top: 6em;

  &-title {
    margin-bottom: 0.75em;
  }
}

.company {
  font-size: large;
  margin-top: 1.5em;
}

.category {
  font-weight: bolder;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}
